img.family {
	height: 200px;
	display: inline-block;
	padding: 10px;
	margin: auto;
	border: 1px solid #ddd;
 	border-radius: 12px;
}

body.index_body {
	background-color: #f6f3f3;
}

body.fam_body {
	background-color: #D1D3DC;
}

body.moto_body {
	background-color: #2D1C23;
}

.body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #f6f3f3;
	text-align: center;
}

.fam_body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #D1D3DC;
	text-align: center;
}

.moto_body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #f6f3f3;
	background-color: #2D1C23;
	text-align: center;
}

.list {
 	text-align: left;
}

#banner {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 46px;
}

h3.moto {
	font-size: 38px;
	color: #E3107A;
}

h4.moto {
	color: #E3107A;
}

img.nav_img {
	border: 1px solid #ddd;
 	border-radius: 4px;
 	padding: 5px;
 	width: 500px;
 	border-radius: 20px;
 	margin-bottom: 20px;
 	margin-top: 100px;
}

img.nav_img:hover {
 	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div#navigation {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

span {
	display: block;
	padding: 20px;
	margin: 20px;
}