img.family {
	height: 200px;
	display: inline-block;
	padding: 10px;
	margin: auto;
	border: 1px solid #ddd;
 	border-radius: 12px;
}

body.index_body {
	background-color: #f6f3f3;
}

.body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #f6f3f3;
	text-align: center;
}

body.fam_body {
	background-color: #D1D3DC;
}

.fam_body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #3d3d3d;
	background-color: #D1D3DC;
	text-align: center;
}

body.moto_body {
	background-color: #2D1C23;
}

.moto_body_content {
	height: 100%;
	width: 75%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #f6f3f3;
	background-color: #2D1C23;
	text-align: center;
}

body.game_body {
	background-color: #DEF375;
}

.game_body_content {
	height: 100%;
	width: 65%;
	margin: auto;
	font-family: Georgia, serif;
	font-size: 18px;
	color: #4171D2;
	background-color: #DEF375;
	text-align: center;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f26060;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #2D1C23;
  padding: 16px;
  text-decoration: none;
  font-family: Georgia, serif;
  font-size: 18px;
}

.sidebar a.active {
  background-color: #4c4a9b;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #ff00e9;
  color: white;
}

.list {
 	text-align: left;
}

#banner {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 46px;
}

h3 {
	font-size: 38px;
}

h3.moto {
	font-size: 38px;
	color: #E3107A;
}

h4.moto {
	color: #E3107A;
}

#fun {
	font-size: 46px;
}

hr {
	margin-top: 20px;
	margin-bottom: 60px;
}

img.nav_img {
	border: 1px solid #ddd;
 	padding: 5px;
 	width: 500px;
 	border-radius: 20px;
 	margin-bottom: 20px;
 	margin-top: 1px;
}

img.nav_img:hover {
 	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a.navigation {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Georgia, serif;
	font-size: 18px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	color: red;
}